<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <router-link class="navbar-brand" href="/" to="/">Vue Shopping Cart</router-link>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <router-link class="nav-link" href="/" to="/">
            <i class="bi"> </i> Home</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" href="/cart" to="/cart">
            <i class="bi bi-cart-check"></i>
            Cart({{ data.countCartItems }})</router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>
<script setup>
  import {useCartStore} from "@/stores/useCartStore";

  const data = useCartStore()
</script>
<style>

</style>