<script setup>
import { RouterLink, RouterView } from 'vue-router'
import HeaderView from "@/components/HeaderView.vue";
</script>

<template>
  <div class="container">
    <HeaderView/>
    <router-view></router-view>
  </div>
</template>

<style scoped>

</style>
